<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    displayDetailsOnTestsThatTriggerWarnings="true"
    colors="true">
    <testsuites>
        <testsuite name="Arch">
            <directory>tests/Arch</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>./src/Icons.php</file>
            <file>./src/Console/Constants.php</file>
            <directory>./src/Console/Templates</directory>
        </exclude>
    </source>
</phpunit>
